<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="APIHOST" value="localhost" />
        <add key="AVAILABLEPORTS" value="4000,4001" />
        <add key="PORT" value="3000" />
    </appSettings>

    <system.webServer>
        <handlers>
            <add name="iisnode" path="dist/api-hub.js" verb="*" modules="iisnode" resourceType="File" />
        </handlers>

        <rewrite>
        <rules>
            <rule name="api">
            <match url="bapi/*" />
            <action type="Rewrite" url="dist/api-hub.js" />
            </rule>
            <rule name="fetch">
            <match url="fetch/*" />
            <action type="Rewrite" url="dist/api-hub.js" />
            </rule>
        </rules>
        </rewrite>

        <defaultDocument>
            <files>
                <add value="dist/api-hub.js" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
